button{
	border-radius:10px;
	background-color:#d9043d;
}
.buttonclick{
	background-color:#97bf04;
}
.previous{
	background-color:#d9043d;
}
body{
	margin-left:26px;
	margin-right:26px;
	background-color:#a4aee2;
}
header{
	display:flex;
}
header h2{
	width:50%;
	margin-top:0px;
}
#buttons{
	float:center;
	width:50%;
	
}
button{
	margin:6px;
	float:right;
}
#box{
	display:flex;
	background-color:#e2a4a4;
}
#image{
	width:50%;
	height:600px;
	margin:20px;
}
#product_description{
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	border:2px solid green;
	width:50%;
}